@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", serif;
}

h1,
h2,
h3,
.lato {
  font-family: "Comfortaa", serif;
}

.blueShadow {
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1);
}
